/.DS_Store
/CloudKitTestApp/CloudKitTestApp.xcodeproj/project.xcworkspace/xcuserdata/oleygen.xcuserdatad/UserInterfaceState.xcuserstate
/CloudKitTestApp/CloudKitTestApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/CloudKitTestApp/CloudKitTestApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/CloudKitTestApp/CloudKitTestApp.xcodeproj/xcuserdata/oleygen.xcuserdatad/xcschemes/xcschememanagement.plist
